

<body>
<center>
  <style>
    button, input[type="submit"], input[type="button"]
     {
        background-color:rgb(196, 218, 102);
        color: rgb(15, 12, 12);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 15px;
        transition: 0.3s;     
      } 
       input[type=text] 
       {
        width: 40px;
             height: 30px;
             background: transparent;
             border: 2px solid rgba(243, 11, 11, 0.2);
             backdrop-filter: blur(10px);
             box-shadow: 0 0 10px rgba(7, 6, 6, 0.637); 
             border-radius: 10px; 
             padding: 25px 100px;
        }
      .img
       {
        background-image:url("{{url_for('static',filename='p4.jpg')}}");
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
       }
       
       body 
        {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh; 
          margin: 0;
         
        }
        .button-container
        {
        text-align: center;
        margin-top: 25px;
        }
       .container 
        {
            width:  500px;
            height: 600px; 
            padding: 20px;
            background-color:rgb(147, 218, 107);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(157, 236, 72, 0.2);
            text-align: center;
            box-shadow: 10px 10px;
        }
        table
  {
  border-radius: 30px;
        margin-top: 20px;
        margin-left: 10px;
      }
   td
   {
    border: none;
   }
  th
   {
    border: none;
  }   
 .select
    {
 width: 100%;
 padding: 10px 20px;
 margin: 10x 0;
 box-sizing: border-box;
 border: none;
 border-botton: 2px solid red;
 border-radius: 10px;
    }
</style> 
  <form action="http://localhost:5001/submit" method="POST">
    <div class=container>
      <th colspan=2><h2>Classroom<h2></th>
<table border=0>
  <tr>
    <th>Classroom Id</th>
    <th><input type=text name=t1></th>
  </tr>
  <tr>
    <th>Year</th>
    <th><input type=text name=t2></th>
  </tr>
  <tr>
    <th>Grade Id</th>
    <th><input type=text name=t3></th>
  </tr>
  <tr>
    <th>Section</th>
    <th><input type=text name=t4></th>
  </tr>
  <tr>
    <th>Status</th>
    <th><input type=text name=t5></th>
  </tr>
  <tr>
    <th>Remarks</th>
    <th><input type=text name=t6></th>
  </tr>
  <tr>
    <th>Teacher Id</th>
    <th><input type=text name=t7></th>
  </tr>
  <tr>
    <th colspan=2>
       <input type=button value="New">
          <input type=submit name=b1 value="Save">
             <input type=submit name=b1 value="Delete">
                <input type=submit name=b1 value="Update">
                  <input type=submit name=b1 value="Allsearch">
                    <input type=submit name=b1 value="Psearch">
   </tr>
   <tr>
    <body class="img">
   <td><select name=s>
  <option value="Classroom_id">Classroom</option>
  <option value="Year">Year</option>
  <option value="grade_id">Grade ID</option>
  <option value="section">Section</option>
  <option value="status">Status</option>
  <option value="remarks">Remarks</option>
  <option value="teacher_id">Teacher_ID</option>
  <option value="All">Allsearch
  </select>
  <input type=text name=src>
  <button type=submit value="specialsearch" name=b1>special search</button>
    </th>
  </tr>
</div>
  </body>
</html>