
<body>
    <table border=2>
       <tr>
            <th>Exam_Id</th>
            <th>Exam_type_id</th>
            <th>Name</th>
            <th>Start_date</th>
       </tr>
       {% for col in data %}
                <tr>
                    <td>{{col[0]}}</td>
                    <td>{{col[1]}}</td>
                    <td>{{col[2]}}</td>
                    <td>{{col[3]}}</td>
                    <td>{{col[4]}}</td>
                </tr>
        {% endfor %}
        <input type=button value="print" onclick=window.prompt()>
     </body>
    </table>
</body>
</html>