<body>
    <center>
    <table border=2>
       <tr>
            <th>GradeId</th>
            <th>Name</th>
            <th>Desc1</th>
       </tr>
       {% for col in data %}
                <tr>
                    <td>{{col[0]}}</td>
                    <td>{{col[1]}}</td>
                    <td>{{col[2]}}</td>
                    <td>{{col[3]}}</td>
                </tr>
        {% endfor %}
        <input type=button value="print" onclick=window.prompt()>
     </body>
    </table>
</center>
</body>
</html>