<body>
<center>
  <style>
    button, input[type="submit"], input[type="button"]
     {
        background-color:rgb(7,8,7);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 15px;
        transition: 0.3s;     
      } 
       input[type=text] 
       {
        width: 100%;
        padding: 10px 12px;
        margin: 4px 0px;
        box-sizing: border-box;
        border-radius: 20px;
        }
      .img
       {
        background-image:url("{{url_for('static',filename='p9.jpg')}}");
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
       }
        
       
       body 
        {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh; 
          margin: 0;
          background-color:#87e8e6;
        }
        .button-container
        {
        text-align: center;
        margin-top: 25px;
        }
       .container 
        {
            width:  400px;
            height: 400px; 
            padding: 20px;
            background-color:rgb(241, 155, 75);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(183, 223, 141, 0.2);
            text-align: center;
            box-shadow: 10px 10px;
        }
        table
  {
  border-radius: 30px;
        margin-top: 20px;
        margin-left: 10px;
      }
   td
   {
    border: none;
   }
  th
   {
    border: none;
  }   
 .select
    {
 width: 100%;
 padding: 10px 20px;
 margin: 10x 0;
 box-sizing: border-box;
 border: none;
 border-bottom: 2px solid red;
 border-radius: 10px;
    }
</style>
  <form action="http://localhost:5004/submit"method="POST">
    <div class=container>
      <th colspan=2><h2>Grade<h2></th>
<table border=2>
  <tr>
    <th>Grade Id</th>
    <th><input type=text name=t1></th>
  </tr>
  <tr>
    <th>Name</th>
    <th><input type=text name=t2></th>
  </tr>
  <tr>
    <th>Description</th>
    <th><input type=text name=t3></th>
  </tr>
  <tr>
    <th colspan=2>
      <input type=button value="New">
        <input type=submit name=b1 value="Save">
          <input type=submit name=b1 value="Delete">
            <input type=submit name=b1 value="Update">
              <input type=submit name=b1 value="Allsearch">
               <input type=submit name=b1 value="Psearch">
  </tr>
  <tr>
    <body class="img"> 
   <td><select name=s>
  <option value="Grade Id">Grade Id</option>
  <option value="Name">Name</option>
  <option value="Desc1">Desprication</option>
  <option value="All">Allsearch
  </select>
  <input type=text name=src>
  <button type=submit value="specialsearch" name=b1>special search</button>
  </td>
  </tr>
</div>
  </body>
</html>
</table>