<html>
<body>
		
	 <form action="/loginsubmit" method="post">
		
		<li><a href="http://localhost:5000/Classroom"> classroom</a></li>
		<li><a href="http://localhost:5000/Attendance"> Attendance</a></li>
		<li><a href="http://localhost:5000/Class_room_student"> Class_room_student</a></li>
		<li><a href="http://localhost:5000/Course"> Course</a></li>
		<li><a href="http://localhost:5000/Exam"> Exam</a></li>
		<li><a href="http://localhost:5000/Exam_type"> Exam_type</a></li>
		<li><a href="http://localhost:5000/Exam_result">Exam_result</a></li>
		<li><a href="http://localhost:5000/Grade"> Grade</a></li>
		<li><a href="http://localhost:5000/Parent"> Parent</a></li>
		<li><a href="http://localhost:5000/Student"> Student</a></li>
		<li><a href="http://localhost:5000/Teacher"> Teacher</a></li>
		</style>
		</form>
		
	</body> 
